.home {
    height: 500px;
    width: 500px;
    background-color: #264653;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    color: antiquewhite;
}