.search_div{
    float: right;
    margin-right: 100px;
}

.searchbar{
    width: 350px;
    border-radius: 5px;
    border: none;
    height: 45px;
    box-shadow: 5px 5px 10px;
}

.search_button{
    border: none;
    background-color: #F4A261;
    color: black;
    height: 45px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 10px;;
}